@use "../abstracts/" as *;
.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  z-index: 99;
}
.overlay {
  position: fixed;
  z-index: 100;
  top: 50%;
  transform: translateY(-50%);
  width: 100vw;
  background-color: var(--clr-dark-1);
  display: block;
  padding: rem(45);
  text-align: center;
}
