:root {
  --clr-primary-1: #65e9e4;
  --clr-primary-2: #31c3bd;
  --clr-primary-3: #118c87;

  --clr-secondary-1: #ffc860;
  --clr-secondary-2: #f2b137;
  --clr-secondary-3: #cc8b13;

  --clr-dark-1: #1f3641;
  --clr-dark-2: #1a2a33;
  --clr-dark-3: #10212a;

  --clr-light-1: #dbe8ed;
  --clr-light-2: #a8bfc9;
  --clr-light-3: #6b8997;
  --box-shadow-primary: inset 0px -8px 0px #118c87;
  --box-shadow-secondary: inset 0px -8px 0px #cc8b13;
  --font-family: "Outfit";
}
