.clr-light-1 {
  color: var(--clr-light-1);
}
.clr-light-2 {
  color: var(--clr-light-2);
}
.clr-dark-1 {
  color: var(--clr-dark-1);
}
.clr-dark-2 {
  color: var(--clr-dark-2);
}
.clr-primary-1 {
  color: var(--clr-primary-1);
}
.clr-primary-2 {
  color: var(--clr-primary-2);
}
.clr-secondary-1 {
  color: var(--clr-secondary-1);
}
.clr-secondary-2 {
  color: var(--clr-secondary-2);
}

.bg-light-1 {
  background-color: var(--clr-light-1);
}
.bg-light-2 {
  background-color: var(--clr-light-2);
}
.bg-dark-1 {
  background-color: var(--clr-dark-1);
}
.bg-dark-2 {
  background-color: var(--clr-dark-2);
}
.bg-primary-1 {
  background-color: var(--clr-primary-1);
}
.bg-primary-2 {
  background-color: var(--clr-primary-2);
}
.bg-secondary-1 {
  background-color: var(--clr-secondary-1);
}
.bg-secondary-2 {
  background-color: var(--clr-secondary-2);
}

.fill-light-1 {
  fill: var(--clr-light-1);
}
.fill-light-2 {
  fill: var(--clr-light-2);
}
.fill-dark-1 {
  fill: var(--clr-dark-1);
}
.fill-dark-2 {
  fill: var(--clr-dark-2);
}
.fill-primary-1 {
  fill: var(--clr-primary-1);
}
.fill-primary-2 {
  fill: var(--clr-primary-2);
}
.fill-secondary-1 {
  fill: var(--clr-secondary-1);
}
.fill-secondary-2 {
  fill: var(--clr-secondary-2);
}
